<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Jamal Al Bahr General Trading">
      <meta name="author" content="Edwin">
      <title>Single | Jamal Al Bahr General Trading</title>
      <!-- FAVICONS -->
      <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
      <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
      <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
      <link rel="icon" href="img/favicons/favicon.ico">
      <meta name="theme-color" content="#000000">
      <!-- STYLESHEET -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" > 
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/owl.carousel.css">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <div class="site-frame">

         <!-- =====[HEADER]===== -->
         <header id="header" class="site-header">
            <div class="main-header">
               <div class="container d-flex align-items-center flex-wrap">
                  <div class="brand">
                     <a href="#" class="d-block"><img src="img/brand.svg" class="d-block" alt="brand"></a>
                  </div>
                  <div class="country-select-panel d-block d-md-inline-block">
                     <select class="form-control form-control-sm d-block d-md-inline-block">
                        <option selected>All cities</option>
                        <option>Abu Dhabi</option>
                        <option>Ajman</option>
                        <option>Al Ain</option>
                        <option>Dubai</option>
                        <option>Fujairah</option>
                        <option>Ras al Khaimah</option>
                        <option>Sharjah</option>
                        <option>Umm al Quwain</option>
                     </select>
                  </div>
                  <div class="header-right d-none d-lg-flex align-items-center ml-auto">
                     <a href="#" class="header-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                        Favorites
                     </a>
                     <a href="#" class="header-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        Log in or sign up
                     </a>
                     <button class="btn btn-primary">Place Your Ad</button>
                  </div>
                  <button class="btn btn-primary btn-toggle-menu d-inline-block d-lg-none ml-auto">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                  </button>
               </div>
            </div>
            <nav class="main-menubar">
               <div class="container">
                  <div class="menubar">
                     <ul class="menu">

                        <li class="menu-item menu-item-has-children">
                           <a href="#">Motors</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-has-children">
                                 <a href="#">Used Cars for Sale</a>
                                 <div class="sub-menu-child">
                                    <h6>Used Cars for Sale</h6>
                                    <ul>
                                       <li><a href="#">Acura</a></li>
                                       <li><a href="#">Alfa Romeo</a></li>
                                       <li><a href="#">Aston Martin</a></li>
                                       <li><a href="#">Audi</a></li>
                                       <li><a href="#">BMW</a></li>
                                       <li><a href="#">Bentley</a></li>
                                       <li><a href="#">Bizzarrini</a></li>
                                       <li><a href="#">Borgward</a></li>
                                       <li><a href="#">Brilliance</a></li>
                                       <li><a href="#">Bufori</a></li>
                                       <li><a href="#">Bugatti</a></li>
                                       <li><a href="#">Buick</a></li>
                                       <li><a href="#">Cadillac</a></li>
                                       <li><a href="#">Caterham</a></li>
                                       <li><a href="#">Chery</a></li>
                                    </ul>
                                 </div>
                              </li>
                              <li class="menu-item menu-item-has-children">
                                 <a href="#">Sub Menu Parent 2</a>
                                 <div class="sub-menu-child">
                                    <h6>Sub Menu Parent 2</h6>
                                    <ul>
                                       <li><a href="#">Sub Menu Child 2.1</a></li>
                                       <li><a href="#">Sub Menu Child 2.2</a></li>
                                       <li><a href="#">Sub Menu Child 2.3</a></li>
                                       <li><a href="#">Sub Menu Child 2.4</a></li>
                                       <li><a href="#">Sub Menu Child 2.5</a></li>
                                       <li><a href="#">Sub Menu Child 2.6</a></li>
                                       <li><a href="#">Sub Menu Child 2.7</a></li>
                                       <li><a href="#">Sub Menu Child 2.8</a></li>
                                       <li><a href="#">Sub Menu Child 2.9</a></li>
                                       <li><a href="#">Sub Menu Child 2.10</a></li>
                                       <li><a href="#">Sub Menu Child 2.11</a></li>
                                       <li><a href="#">Sub Menu Child 2.12</a></li>
                                       <li><a href="#">Sub Menu Child 2.13</a></li>
                                    </ul>
                                 </div>
                              </li>
                              <li class="menu-item menu-item-has-children">
                                 <a href="#">Sub Menu Parent 3</a>
                                 <div class="sub-menu-child">
                                    <h6>Sub Menu Parent 3</h6>
                                    <ul>
                                       <li><a href="#">Sub Menu Child 3.1</a></li>
                                       <li><a href="#">Sub Menu Child 3.2</a></li>
                                       <li><a href="#">Sub Menu Child 3.3</a></li>
                                       <li><a href="#">Sub Menu Child 3.4</a></li>
                                       <li><a href="#">Sub Menu Child 3.5</a></li>
                                       <li><a href="#">Sub Menu Child 3.6</a></li>
                                       <li><a href="#">Sub Menu Child 3.7</a></li>
                                       <li><a href="#">Sub Menu Child 3.8</a></li>
                                       <li><a href="#">Sub Menu Child 3.9</a></li>
                                       <li><a href="#">Sub Menu Child 3.10</a></li>
                                    </ul>
                                 </div>
                              </li>
                           </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                           <a href="#">Property for Rent</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                           <a href="#">Property for Sale</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                           <a href="#">Classifieds</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                           <a href="#">Mobiles & Tablets</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                           <a href="#">About Us</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                           <a href="#">Contact Us</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </header>
         
         <!-- =====[PAGE]===== -->
         <div id="page" class="site-page">

            <!-- =====[BREADCRUMB]===== -->
            <section class="section-breadcrumb">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-7">
                        <ol class="breadcrumb breadcrumb-alt bg-white m-0 p-0">
                           <li class="breadcrumb-item"><a href="#">Home</a></li>
                           <li class="breadcrumb-item"><a href="#">UAE</a></li>
                           <li class="breadcrumb-item"><a href="#">Dubai</a></li>
                           <li class="breadcrumb-item"><a href="#">Mirdif</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Ghoroob Mirdif</li>
                        </ol>
                     </div>
                     <div class="col-md-5">
                        <p class="breadcrumb-note mb-0 mt-2 mt-md-0 text-left text-md-right">Reference ID: GHR-004</p>
                     </div>
                  </div>
               </div>
            </section>

            <!-- =====[SECTION SINGLE MAIN] **===== -->
            <section class="section-single-main pt-3">
               <div class="container">
                  <div class="row row-product-main">
                     <div class="col-xl-7 col-product-gallery">
                        <div class="product-gallery-main">
                           <div class="row flex-row-reverse">
                              <div class="col-md-10">
                                 <div class="product-gallery-xl">
                                    <img src="img/product-gallery-xl-1.jpg" alt="media">
                                 </div>
                              </div>
                              <div class="col-md-2">
                                 <ul class="product-gallery-sm">
                                    <li><img src="img/product-gallery-sm-1.jpg" alt="media"></li>
                                    <li><img src="img/product-gallery-sm-2.jpg" alt="media"></li>
                                    <li><img src="img/product-gallery-sm-3.jpg" alt="media"></li>
                                    <li><img src="img/product-gallery-sm-4.jpg" alt="media"></li>
                                    <li><img src="img/product-gallery-sm-5.jpg" alt="media"></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-5 col-product-info">
                        <div class="product-info d-flex align-items-center h-100">
                           <div class="w-100">
                              <h3 class="product-title">Amazing 1 BR | 12 Cheques NO COMMISSION !!</h3>
                              <p class="product-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                              <div class="product-price font-weight-bold text-brand">AED 32,000 Yearly</div>
                              <ul class="product-meta">
                                 <li><img src="img/pdt-bed.svg" alt="media">1 Bed </li>
                                 <li><img src="img/pdt-bathtub.svg" alt="media">2 Baths </li>
                                 <li><img src="img/pdt-space.svg" alt="media">650 SqFt </li>
                                 <li><img src="img/pdt-sofa.svg" alt="media">Unfurnished</li>
                              </ul>
                              <div class="product-location">
                                 <img src="img/pdt-location.svg" alt="media">
                                 JVC District 14, Jumeirah Village Circle (JVC)
                              </div>
                              <div class="product-btn-group d-flex justify-content-between">
                                 <a href="#" class="btn btn-primary has-icon d-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                    Show Phone Number
                                 </a>
                                 <a href="#" class="btn btn-dark has-icon d-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                    Enquire Now
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <!-- =====[SECTION SINGLE TABS] **===== -->
            <section class="section-product-details">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <ul class="nav nav-pills product-tab-nav mb-3" id="pills-tab" role="tablist">
                           <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="pdttab1-tab" data-toggle="pill" href="#pdttab1" role="tab" aria-controls="pdttab1" aria-selected="true">Description</a>
                           </li>
                           <li class="nav-item" role="presentation">
                              <a class="nav-link" id="pdttab2-tab" data-toggle="pill" href="#pdttab2" role="tab" aria-controls="pdttab2" aria-selected="false">Amenities</a>
                           </li>
                           <li class="nav-item" role="presentation">
                              <a class="nav-link" id="pdttab3-tab" data-toggle="pill" href="#pdttab3" role="tab" aria-controls="pdttab3" aria-selected="false">Property Info</a>
                           </li>
                           <li class="nav-item" role="presentation">
                              <a class="nav-link" id="pdttab4-tab" data-toggle="pill" href="#pdttab4" role="tab" aria-controls="pdttab4" aria-selected="false">Location</a>
                           </li>
                        </ul>
                        <div class="tab-content product-tab-content" id="pills-tabContent">
                           <div class="tab-pane fade show active" id="pdttab1" role="tabpanel" aria-labelledby="pdttab1-tab">
                              <div class="pdt-tab-desc">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum ante et purus facilisis dictum. Quisque mollis, sapien a bibendum porttitor, lacus augue venenatis orci, eget rutrum elit enim ut arcu. Curabitur eget rutrum nunc. Nullam iaculis tortor euismod nisi cursus dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sit amet sem at luctus. Fusce id orci at odio condimentum lobortis. </p>
                                 <p>Vestibulum mollis, enim in varius iaculis, enim odio pharetra risus, ut malesuada nibh magna sit amet odio. Duis viverra nibh libero, quis porttitor risus bibendum eget. Suspendisse potenti. Phasellus pellentesque, tortor non semper aliquet, lorem eros aliquam lacus, imperdiet sagittis lorem est non nibh. Phasellus in ligula facilisis, consequat purus non, laoreet nulla.</p>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="pdttab2" role="tabpanel" aria-labelledby="pdttab2-tab">
                              <div class="pdt-tab-list">
                                 <ul>
                                    <li>Balcony</li>
                                    <li>Built in Wardrobes </li>
                                    <li>Covered Parking </li>
                                    <li>Shared Pool </li>
                                    <li>Shared Gym </li>
                                    <li>View of Landmark </li>
                                    <li>Lorem ipsum dolor sit amet </li>
                                    <li>Eirmod tempor invidunt </li>
                                    <li>Aliquyam erat sed diam </li>
                                    <li>Consetetur sadipscing elitr</li>
                                    <li>Labore et dolore magna</li>
                                    <li>Sed diam nonumy</li>
                                 </ul>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="pdttab3" role="tabpanel" aria-labelledby="pdttab3-tab">
                              <div class="pdt-tab-list">
                                 <div class="row">
                                    <div class="col-lg-8">
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong>Furnished</strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">No</div>
                                       </div>
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong> Apartment For</strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">Rent</div>
                                       </div>
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong>Posted On </strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">June 29th, 2021 </div>
                                       </div>
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong>Property Reference </strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">JVC-ZA-ARIA-1BR </div>
                                       </div>
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong>RERA Permit Number </strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">71292965924</div>
                                       </div>
                                       <div class="row mb-3 mb-md-4">
                                          <div class="col-4"><strong>Updated</strong></div>
                                          <div class="col-1 text-center">:</div>
                                          <div class="col-7">about 18 hours</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="pdttab4" role="tabpanel" aria-labelledby="pdttab4-tab">
                              <div class="pdt-tab-map">
                                 <div class="map-location mb-3">JVC District 14, Jumeirah Village Circle (JVC)</div>
                                 <div class="map-panel rounded-lg overflow-hidden">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d231280.36550186537!2d55.08766275505362!3d25.076267693595266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1627411310547!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <!-- =====[SECTION ENQUIRE] **===== -->
            <section class="section-enquire">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="enquire-form-panel">
                           <h4 class="title text-center text-brand">Enquire About the Ad</h4>
                           <div class="form-group">
                              <textarea class="form-control" rows="3" placeholder="Your message"></textarea>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your name">
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control" placeholder="Your email">
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your phone">
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Inquire Now">
                           </div>
                           <div class="form-group">
                              <button class="btn btn-primary d-block w-100">Enquire Now</button>
                           </div>
                           <div class="form-note text-center">
                              By clicking on ‘Enquire Now’, I agree to the Jamal al bahr <a href="#"> Terms & Conditions</a> and <a href="#"> Privacy Policy</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="report-ad-panel text-center mt-4 mt-md-5">
                           Is there an issue? <br><a href="#">Report this Ad Now</a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <!-- =====[SECTION APP DOWNLOAD] **===== -->
            <section class="section-app-download">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-lg-7">
                        <h2 class="section-title text-white text-center text-lg-left">Find amazing deals on the go. <br>Download the app now!</h2>
                     </div>
                     <div class="col-lg-5">
                        <div class="app-btn-group text-center text-lg-right">
                           <a href="#"><img src="img/app-store-icon.svg" alt="media"></a>
                           <a href="#"><img src="img/google-play-icon.svg" alt="media"></a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            
         </div>

         <!-- =====[FOOTER]===== -->
         <footer id="footer" class="site-footer">
            <div class="top-footer">
               <div class="container">
                  <div class="row">
                     <div class="col-footer col-md-3 col-6">
                        <div class="footer-panel">
                           <h4 class="footer-title">Company</h4>
                           <ul class="footer-menu">
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Advertising</a></li>
                              <li><a href="#">Careers</a></li>
                              <li><a href="#">Terms of Use</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-footer col-md-3 col-6">
                        <div class="footer-panel">
                           <h4 class="footer-title">UAE</h4>
                           <ul class="footer-menu">
                              <li><a href="#">Dubai</a></li>
                              <li><a href="#">Abu Dhabi</a></li>
                              <li><a href="#">Ras al Khaimah</a></li>
                              <li><a href="#">Sharjah</a></li>
                              <li><a href="#">Fujairah</a></li>
                              <li><a href="#">Ajman</a></li>
                              <li><a href="#">Umm al Quwain</a></li>
                              <li><a href="#">Al Ain</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-footer col-md-3 col-6">
                        <div class="footer-panel">
                           <h4 class="footer-title">Other Countries</h4>
                           <ul class="footer-menu">
                              <li><a href="#">Egypt</a></li>
                              <li><a href="#">Bahrain</a></li>
                              <li><a href="#">Saudi Arabia</a></li>
                              <li><a href="#">Lebanon</a></li>
                              <li><a href="#">Kuwait</a></li>
                              <li><a href="#">Oman</a></li>
                              <li><a href="#">Qatar</a></li>
                              <li><a href="#">Pakistan</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-footer col-md-3 col-6">
                        <div class="footer-panel">
                           <h4 class="footer-title">Support</h4>
                           <ul class="footer-menu">
                              <li><a href="#">Help</a></li>
                              <li><a href="#">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-footer col-md-12">
                        <div class="footer-panel text-center text-lg-left">
                           <h4 class="footer-title">Get Social</h4>
                           <div class="footer-social">
                              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-footer py-3">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <p class="text-center text-md-left mb-0">© <a href="#">Jamal al bahr general trading</a> , All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </footer>

      </div>
      <!-- SCRIPT FILES -->
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/script.js"></script>
   </body>
</html>